<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{chat.title}}">
  <ion-content class="padding">
    <img ng-src="http://image.tmdb.org/t/p/w92/{{chat.poster_path}}" style="width: 64px; height: 64px">
    <p>
      {{chat.overview}}
    </p>
  </ion-content>
</ion-view>
