<ion-view view-title="Chats">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" 
      ng-repeat="chat in chats" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
        <img ng-src="http://image.tmdb.org/t/p/w92/{{chat.poster_path}}">
        <h2>{{chat.title}}</h2>
        <p>{{chat.overview}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

       
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>

http://image.tmdb.org/t/p/w92/lFSSLTlFozwpaGlO31OoUeirBgQ.jpg